<div>
  <% if @movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h2>
      <ul>
        <% @movement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @group.present? %>
    <%= form_with(model: @movement, url: user_group_movements_path(current_user, @group), local: true) do |form| %>
      <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
  
      <div>
        <%= form.label :amount %>
        <%= form.number_field :amount %>
      </div>
      <%= form.submit "Add a movement" %>
    <% end %>
  <% else %>
    <%= form_with(model: @movement, local: true) do |form| %>
      <div>
        <%= form.label :group_id %>
        <%= form.collection_select :group_id, @groups, :id, :name, include_blank: true %>
      </div>
      <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
  
      <div>
        <%= form.label :amount %>
        <%= form.number_field :amount %>
      </div>
      <%= form.submit "Add a movement" %>
    <% end %>
  <% end %>
</div>
