<div class="form--movement">

  <% if @movement.errors.any? %>
    <div id="error_explanation" class="form__errors">
      <h2 class="form__errors-title"><%= pluralize(@movement.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul class="form__errors-list">
        <% @movement.errors.full_messages.each do |message| %>
          <li class="form__error-message"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @group.present? %>
    <%= form_with(model: @movement, url: user_group_movements_path(current_user, @group), local: true, html: { class: 'form__body' }) do |form| %>
      <div class="form__section form__section--name">
        <%= form.label :name, class: 'form__label' %>
        <%= form.text_field :name, class: 'form__text-field', required: true %>
      </div>
  
      <div class="form__section form__section--amount">
        <%= form.label :amount, class: 'form__label' %>
        <%= form.number_field :amount, class: 'form__number-field', required: true %>
      </div>
      <%= form.submit "Add a transaction", class: 'form__submit-button' %>
    <% end %>
  <% else %>
    <%= form_with(model: @movement, local: true, html: { class: 'form__body' }) do |form| %>
      <div class="form__section form__section--group">
        <%= form.label :group_id, class: 'form__label' %>
    <%= form.collection_select :group_id, @groups, :id, :name, { include_blank: 'Please select a group' }, { required: true, class: 'form__select' } %>
      </div>
      <div class="form__section form__section--name">
        <%= form.label :name, class: 'form__label' %>
        <%= form.text_field :name, class: 'form__text-field', required: true %>
      </div>
  
      <div class="form__section form__section--amount">
        <%= form.label :amount, class: 'form__label' %>
        <%= form.number_field :amount, class: 'form__number-field', required: true %>
      </div>
      <%= form.submit "Add a transaction", class: 'form__submit-button' %>
    <% end %>
  <% end %>
</div>
