<%= form_with(model: [current_user, @group], local: true, html: { class: 'form--group' }) do |form| %>
  <h1 class="form__title">Add a new group</h1>

  <div class="form__section form__section--icon">
    <h2 class="form__subtitle">Choose an icon</h2>
    <% Group.icon_choices.each do |icon| %>
      <div class="form__option">
        <%= form.radio_button :icon, icon, class: 'form__radio-button' %>
        <%= label :icon, icon, value: icon, class: 'form__label form__label--icon' %>
        <%= image_tag("group_icons/#{icon}", alt: icon, class: "form__image-preview") %>
      </div>
    <% end %>
  </div>

  <div class="form__section form__section--name">
    <%= form.label :name, "Group name", class: 'form__label' %>
    <%= form.text_field :name, class: 'form__text-field' %>
  </div>

  <%= form.submit "Create group", class: 'form__submit-button' %>
  <%= link_to "Go back", authenticated_root_path, class: 'form__link' %>
<% end %>
