<%= form_with(model: [current_user, @group], local: true) do |form| %>
  <h1>Add a new group</h1>

  <div>
    <h2>Choose an icon</h2>
    <% Group.icon_choices.each do |icon| %>
      <%= form.radio_button :icon, icon%>
      <%= label :icon, icon, value: icon %>
      <%= image_tag("group_icons/#{icon}", alt: icon, class: "icon-preview") %>
    <% end %>
  </div>

  <div>
    <%= form.label :name, "Group name" %>
    <%= form.text_field :name %>
  </div>

  <%= form.submit "Create group" %>
  <%= link_to  "Go back", authenticated_root_path%>
<% end %>