<div>
  <%= link_to "Go back", authenticated_root_path %>
  <%= image_tag("group_icons/#{@group.icon}", alt: @group.icon, class: "icon-preview") %>
  <h1><%= @group.name %> movements </h1>
  <% if @movements.empty? %>
    <p>There are no movements, yet.</p>
  <% else %>
    <%= @movements.sum(:amount)%>
    <div>
      <%= @movements.each do |movement| %>
      <!-- Display each movement here -->
      <% end %>
    </div>
  <% end %>
  <%= link_to "Add a new movement", new_user_group_movement_path(current_user, @group) %>
</div>
