<div class="group">
  <%= image_tag("group_icons/#{@group.icon}", alt: @group.icon, class: "group__icon") %>
  <h1 class="group__title"><%= @group.name %> Transactions</h1>
  <% if @movements.any? %>
    <div class="group__sum">Total: $<%= @movements.sum(:amount) %></div>
    <div class="group__movements">
      <% @movements.each do |movement| %>
        <div class="movement">
          <p class="movement__name"><%= movement.name %></p>
          <p class="movement__date">Date: <%= movement.created_at.strftime("%B %d, %Y at %I:%M%p") %></p>
          <p class="movement__amount">Total payment: $<%= movement.amount %></p>
          <%= button_to "Delete transaction", user_group_movement_path(current_user, @group, movement), method: :delete,
                         data: { turbo_confirm: "Are you sure you want to delete this movement?" },
                         aria: { label: "Delete #{movement.name}" },
                         class: "movement__delete-btn" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="group__no-movements">There are no transactions, yet.</p>
  <% end %>
  <%= link_to "Add a new transaction", new_user_group_movement_path(current_user, @group), class: "group__link--add" %>
</div>
