<div>
  <%= link_to "Go back", authenticated_root_path %>
  <%= image_tag("group_icons/#{@group.icon}", alt: @group.icon, class: "icon-preview") %>
  <h1><%= @group.name %> movements </h1>
  <% if @movements.any? %>
    <%= @movements.sum(:amount)%>
    <div>
      <% @movements.each do |movement| %>
        <p><%= movement.name %></p>
        <p><%= movement.created_at %></p>
        <p>$<%= movement.amount %></p>
        <%= button_to "Delete movement", user_group_movement_path(current_user, @group, movement), method: :delete,
                       data: { turbo_confirm: "Are you sure you want to delete this movement?" },
                       aria: { label: "Delete #{movement.name}" } %>
      <% end %>
    </div>
  <% else %>
    <p>There are no movements, yet.</p>
  <% end %>
  <%= link_to "Add a new movement", new_user_group_movement_path(current_user, @group) %>
</div>
