<div class="change_password_page">
  <section class="change_password_page__container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'change_password_page__form', method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
    
      <div class="field change_password_form__fields--password">
        <%= f.password_field :password, placeholder: "New password (#{@minimum_password_length} characters minimum).", autofocus: true, autocomplete: "new-password", class: 'change_password_form__field_password--field' %>
      </div>
    
      <div class="field change_password_form__fields--password_confirmation">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: 'change_password_form__field_password_confirmation--field' %>
      </div>
    
      <div class="actions change_password_form__submit_button--container">
        <%= f.submit "Change my password", class: 'change_password_form__submit--button' %>
      </div>
    <% end %>
    
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </section>
</div>