<div class="forgot_password_page">
  <section class="forgot_password_page__container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form forgot_password_page__form', method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field forgot_password_form__fields--email">
        <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email", class: 'forgot_password_form__field_email--field' %>
      </div>
    
      <div class="actions forgot_password_form__submit_button--container">
        <%= f.submit "Send me reset password instructions", class: "forgot_password_form__submit--button" %>
      </div>
    <% end %>
    
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </section>
</div>