<div class="login_page">
  <section class="login_page__container">
    <h2 class="login_page__title">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form login_page__form' }) do |f| %>
      <div class="field login_form__fields--email">
        <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email", class: 'login_form__field_email--field' %>
      </div>
    
      <div class="field login_form__fields--password">
        <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password", class: 'login_form__field_password--field' %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field login_form__check_box--remember">
          <%= f.check_box :remember_me, class: 'login_form__check_box--box' %>
          <%= f.label :remember_me, class: 'login_form__check_box--label' %>
        </div>
      <% end %>
    
      <div class="actions login_form__submit_button--container">
        <%= f.submit "Log in", class: 'login_form__submit--button' %>
      </div>
    <% end %>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </section>
</div>